n8n-workflow-dashboard-agent.json
{
  "name": "🏡 Dashboard Selva Dentro - Agente IA + Supabase RAG",
  "nodes": [
    {
      "parameters": {
        "content": "## 📚 ENTRENAMIENTO / INGESTA DE DOCUMENTOS\n\nEste flujo se activa cuando:\n1. Se sube un archivo nuevo a Google Drive\n2. Se elimina el documento anterior de Supabase\n3. Se procesa y vectoriza el nuevo documento\n4. Se almacena en Supabase Vector Store"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-800, -1000],
      "typeVersion": 1,
      "id": "sticky-training",
      "name": "📝 Training Flow"
    },
    {
      "parameters": {
        "content": "## 🤖 WORKFLOW PRINCIPAL - AGENTE IA\n\nEste flujo:\n1. Recibe mensajes del Chat Trigger\n2. Usa el AI Agent con GPT-4o\n3. Consulta la herramienta BUSCAR (Supabase)\n4. Consulta GHL MCP para datos en vivo\n5. Responde con información combinada"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-100, 100],
      "typeVersion": 1,
      "id": "sticky-workflow",
      "name": "📝 Main Workflow"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [-700, -720],
      "id": "google-drive-trigger",
      "name": "📂 Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "file-id-assignment",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "file-name-assignment",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-500, -720],
      "id": "edit-fields",
      "name": "📋 Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-300, -720],
      "id": "supabase-delete",
      "name": "🗑️ Delete Old Docs",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('📋 Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-100, -720],
      "id": "google-drive-download",
      "name": "⬇️ Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [100, -720],
      "id": "extract-pdf",
      "name": "📄 Extract PDF Text"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [300, -720],
      "id": "supabase-vector-insert",
      "name": "💾 Supabase Vector Insert",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [300, -520],
      "id": "embeddings-insert",
      "name": "📐 Embeddings (Insert)",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('📋 Edit Fields').item.json.file_id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('📋 Edit Fields').item.json.file_name }}"
              },
              {
                "name": "source",
                "value": "google_drive"
              },
              {
                "name": "ingested_at",
                "value": "={{ new Date().toISOString() }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [500, -520],
      "id": "data-loader",
      "name": "📝 Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [500, -360],
      "id": "text-splitter",
      "name": "✂️ Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "id": "chat-trigger",
      "name": "💬 Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [100, 300],
      "webhookId": "selva-dentro-dashboard"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un agente especializado del Dashboard inmobiliario \"Selva Dentro Tulum\".\n\nTu trabajo es:\n1. Consultar la base de conocimientos BUSCAR para información sobre procedimientos, herramientas GHL, y documentación interna\n2. Consultar GoHighLevel vía MCP para datos en vivo (contactos, oportunidades, calendario, etc.)\n\n## 🎯 TU OBJETIVO PRINCIPAL\n\nCuando te pregunten por datos del dashboard, SIEMPRE debes obtener información de TODAS las fuentes necesarias para dar una respuesta completa.\n\n---\n\n## 📊 SECCIONES DEL DASHBOARD Y QUÉ DATOS NECESITAN\n\n### 1. HOME / DASHBOARD PRINCIPAL\n\n**KPIs Requeridos:**\n| KPI | Fuente | Herramienta |\n|-----|--------|-------------|\n| Puntos del Mes | Supabase | `supabase_get_leaderboard` (suma total) |\n| Leads Nuevos | GHL | `search_contacts` (filtrar por fecha) |\n| Oportunidades Activas | GHL | `search_opportunities` (status=open) |\n| Ventas Cerradas | GHL | `search_opportunities` (status=won) |\n| Valor Total Pipeline | GHL | `search_opportunities` (suma monetaryValue) |\n| Agentes Activos | GHL | `get_users` (contar activos) |\n\n**Meta Mensual:** 270 puntos, 6 ventas\n\n### 2. LEADS (Kanban de 6 columnas)\n\n**Columnas del Pipeline:**\n1. **Nuevo** - Leads recién ingresados\n2. **Calificado** - Leads con presupuesto validado\n3. **Propuesta** - Enviada propuesta de propiedad\n4. **Visita** - Cita agendada o realizada\n5. **Negociación** - En proceso de cierre\n6. **Cerrado** - Venta completada\n\n### 3. BROKERS (Grid de agentes)\n\n**Datos por Broker:** Nombre, Email, Puntos del mes, Leads asignados, Oportunidades activas, Ventas cerradas, Valor total vendido, Tasa de conversión\n\n### 4. REPORTES\n\n**Por Canal (source):** Facebook Ads, Google Ads, Instagram, Referidos, Website\n\n---\n\n## 📋 SISTEMA DE PUNTOS\n\n| Actividad | Puntos | Código |\n|-----------|--------|--------|\n| SMS enviado | 1 | `sms_enviado` |\n| Email enviado | 2 | `email_enviado` |\n| Llamada realizada | 3 | `llamada_realizada` |\n| Cita agendada | 3 | `cita_agendada` |\n| Cita confirmada | 5 | `cita_confirmada` |\n| Visita física | 10 | `fisica_cliente_final` |\n| Venta cerrada | 20 | `oportunidad_ganada` |\n\n---\n\n## 🎯 INSTRUCCIONES DE RESPUESTA\n\n### Para consultas de INFORMACIÓN/DOCUMENTACIÓN:\n\n1. **Usa la herramienta BUSCAR** para consultar la base de conocimientos\n2. Si la información no está en la base, responde: \"Lo siento, la base de datos BUSCAR no contiene información relacionada con ese tema.\"\n\n### Para consultas de DATOS EN VIVO:\n\n1. **Usa las herramientas de GHL MCP** para obtener datos actuales\n2. **Combina datos** cuando sea necesario\n3. **Formatea la respuesta** de forma clara con tablas y listas\n\n---\n\n## 🇲🇽 CONTEXTO DEL NEGOCIO\n\n- **Proyecto:** Selva Dentro - Desarrollo inmobiliario premium en Tulum, Riviera Maya\n- **Moneda:** MXN (pesos mexicanos)\n- **Equipo:** 5-6 brokers activos\n- **Meta mensual:** 270 puntos, 6 ventas\n- **Ticket promedio:** ~$400,000 MXN\n\n---\n\n## ⚠️ REGLAS IMPORTANTES\n\n1. **SIEMPRE responde en español**\n2. **USA tablas** para datos tabulares\n3. **SÉ CONCISO** pero informativo\n4. **NO INVENTES DATOS** - si no tienes info, dilo\n5. **COMBINA FUENTES** cuando sea necesario (BUSCAR + GHL MCP)\n\n---\n\n**Entrada del usuario:**\n{{ $json.chatInput }}\n",
        "options": {}
      },
      "id": "ai-agent",
      "name": "🤖 Dashboard Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [400, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openai-model-agent",
      "name": "🧠 OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [300, 520],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || 'default' }}"
      },
      "id": "memory",
      "name": "🧠 Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [420, 520]
    },
    {
      "parameters": {
        "sseEndpoint": "https://selva-ghl-mcp-v2.cpvnsn.easypanel.host/sse"
      },
      "id": "mcp-ghl",
      "name": "🔌 GHL MCP Server",
      "type": "@n8n/n8n-nodes-langchain.toolMcp",
      "typeVersion": 1,
      "position": [540, 520]
    },
    {
      "parameters": {
        "name": "BUSCAR",
        "description": "Usa esta herramienta para buscar información en la base de conocimientos de Selva Dentro. Contiene documentación sobre procedimientos, herramientas GHL, políticas, y guías internas.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [660, 520],
      "id": "tool-buscar",
      "name": "🔍 BUSCAR"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [660, 720],
      "id": "openai-model-buscar",
      "name": "🧠 OpenAI (BUSCAR)",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [780, 720],
      "id": "supabase-vector-query",
      "name": "💾 Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [900, 720],
      "id": "embeddings-query",
      "name": "📐 Embeddings (Query)",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    }
  ],
  "connections": {
    "📂 Google Drive Trigger": {
      "main": [
        [
          {
            "node": "📋 Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Edit Fields": {
      "main": [
        [
          {
            "node": "🗑️ Delete Old Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ Delete Old Docs": {
      "main": [
        [
          {
            "node": "⬇️ Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Download File": {
      "main": [
        [
          {
            "node": "📄 Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Extract PDF Text": {
      "main": [
        [
          {
            "node": "💾 Supabase Vector Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📐 Embeddings (Insert)": {
      "ai_embedding": [
        [
          {
            "node": "💾 Supabase Vector Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "📝 Data Loader": {
      "ai_document": [
        [
          {
            "node": "💾 Supabase Vector Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "✂️ Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "📝 Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "💬 Chat Trigger": {
      "main": [
        [
          {
            "node": "🤖 Dashboard Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 OpenAI GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 Dashboard Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "🤖 Dashboard Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🔌 GHL MCP Server": {
      "ai_tool": [
        [
          {
            "node": "🤖 Dashboard Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🔍 BUSCAR": {
      "ai_tool": [
        [
          {
            "node": "🤖 Dashboard Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🧠 OpenAI (BUSCAR)": {
      "ai_languageModel": [
        [
          {
            "node": "🔍 BUSCAR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "💾 Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "🔍 BUSCAR",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "📐 Embeddings (Query)": {
      "ai_embedding": [
        [
          {
            "node": "💾 Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Dashboard",
      "createdAt": "2024-11-28T00:00:00.000Z",
      "updatedAt": "2024-11-28T00:00:00.000Z"
    },
    {
      "name": "Selva Dentro",
      "createdAt": "2024-11-28T00:00:00.000Z",
      "updatedAt": "2024-11-28T00:00:00.000Z"
    },
    {
      "name": "MCP",
      "createdAt": "2024-11-28T00:00:00.000Z",
      "updatedAt": "2024-11-28T00:00:00.000Z"
    },
    {
      "name": "GoHighLevel",
      "createdAt": "2024-11-28T00:00:00.000Z",
      "updatedAt": "2024-11-28T00:00:00.000Z"
    },
    {
      "name": "Supabase RAG",
      "createdAt": "2024-11-28T00:00:00.000Z",
      "updatedAt": "2024-11-28T00:00:00.000Z"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-11-28T00:00:00.000Z",
  "versionId": "3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
